<p>
  <strong>Label:</strong>
  <%= @account_type.label %>
</p>

<p>
  <%= link_to "Edit", edit_admin_account_type_path(@account_type) %> |
  <%= link_to "Destroy", [:admin, @account_type], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_account_types_path %>
</p>
