<%= link_to "Supprimer mon compte", user_path(@current_user), :confirm => "Êtes vous sûre?", :method => :delete %>

<div id="edit_user">
  <%= render :partial => 'users/edit', :locals => {:user => @current_user} %>
</div>

<div id ="index_bank"></div>
<%= link_to "Ajouter un compte bancaire", banks_path, :remote => true  %>

<div id="index_account">
  <%= render :partial => 'accounts/index' %>
</div>
