#bank_list{
  width:300px
}
#bank_label{
  width:300px;
}
#content_result{
  width:300px;
}
#content_search{
  width:300px;
  text-align:right;
}
#container_result{
  width:300px;
}
.container{
  vertical-align:top;
}
