// Place all the styles related to the Configuration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_theme_id {
  width: 250px;
}
#title_user {
  width:500px;
}
#content_user{
  height:250px;
}

#title_account {
  width:400px;
}
#content_account{
  height:250px;
}

#title_theme {
  width:340px;
}
#content_theme {
  height:250px;
}

#index_bank {
  display: none;
}
