// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.expander {
  width: 250px;
  margin-bottom: 10px;
  font-size: 12px;
}
#tabs {
  margin-bottom: 10px;
  font-size: 12px;
}
